@use "mixins/rem" as * ;
@use "mixins/includes" as * ;
@use "mixins/media-query" as * ;

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

body {
    padding-top: 56px;

    @include media-query-min(582px) {
        padding-top: 111px;
    }      

    @include media-query-min(1348px) {
        padding-top: 132px;
    }
}

.sticky-nav  {

    &-active {
        .navigation {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }        
    }
    
     &-small {
    
         .navigation {

            .logo a,
            .main-menu__list--link {
            

                @include media-query-min(1348px) {
                    padding: 8px 0;
                } 

            }

        }

    }
}

body {
    // padding-top: 132px;
    transition: .5s;

    &.sticky-nav-active {
        // padding-top: 105px;
    }
}

.header-top {
    padding: rem(14px);
    font-size: rem(16px); 
    color: var(--color-text-light); 
    background-color: #fff;
    border-bottom: rem(1px) solid var(--color-border);
    position: relative;
    z-index: 3;
    display: none;

    @include media-query-min(583px) {
        display: block;
    }     

    ul.contact-info {
        @include list;
        @include flex-center-y;
        width: 100%;

        > li {
            margin: 0;
            &:not(:last-child){
                border-right: rem(1px) solid var(--color-border);
                padding-right: rem(16px);
                margin-right: rem(16px);
            }
            &:nth-last-child(2),
            &.bl-none {
                border-right: none;
            }
            &:last-child {
                margin-left: auto;
            }
        }
    }

    .social-links {
        @include list;
        @include flex-center-x;
        gap: rem(18px);

        > li {
            margin: 0;
            a {
                color: var(--color-text);

                &:hover {
                    color: var(--color-accent);
                }
            }
        }
    }

}

.navigation {
    @include flex-center-y;
    background-color: #fff;
    position: relative;
    z-index: 10;
    border-bottom: rem(1px) solid var(--color-border);
 
    .logo {
        position: relative;
        padding-right: 50px;
        padding-left: 15px;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-accent);
            clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 82% 0, 100% 100%, 0% 100%);
            z-index: -1;
        }  

        a {
            padding: 0 20px;
            height: auto;
            padding: 12px 0;
            display: inline-block;
            position: relative;
    
            @include media-query-min(1348px) {
                padding: 22px 0;
            }            
            
            svg {
                width: rem(280px);
            }          
        }
    }

    .main-menu {
        margin-left: rem(30px);
        width: 100%;

        &__list {
            @include list;
            @include flex-center-y;
            gap: rem(24px);

            &--item {
                margin: 0;

                &.item-menu {
                    display: none;

                    @include media-query-min(584px) {
                        display: flex;
                    }  
                }


                &.cart-item {
                    margin-left: auto;
                }   

                &.has-dropdown-small {
                    position: relative;
                }

                &.has-dropdown,
                &.has-dropdown-small {
                    &:hover {
                        .main-menu__list--link {
                            color: var(--color-accent);
                        }

                        .menu-mega {
                            @include show;
                            transition-duration: 0.2s;
                            -webkit-transform: perspective(300px) rotateX(0deg);
                            -moz-transform: perspective(300px) rotateX(0deg);
                            -ms-transform: perspective(300px) rotateX(0deg);
                            -o-transform: perspective(300px) rotateX(0deg);
                            transform: perspective(300px) rotateX(0deg);
                        }

                        .menu-small {
                            @include show;
                            transform: scale(1);
                        }

                        a span {
                            color: var(--color-accent);
                        }
                    }

                    a span {
                        color: #999;
                        display: inline-block;
                        margin-left: 2px;
                        transition: all 0.4s ease;                        
                    }
                    
                }

            }

            &--link {
                color: var(--color-text-light);
                padding: rem(12px) 0px;
                font-weight: 800;
                font-size: rem(15px);
                text-transform: uppercase;
                display: inline-block;
                white-space: nowrap;

                @include media-query-min(1348px) {
                    padding: 26px 0;
                }                  

                &:hover {
                    color:  var(--color-accent);
                }
            }            

        }
    }
}

.menu-mega {
    position: absolute;
    transition: var(--transition);
    @include hide;
    top: 100%;
    left: 0;
    right: 0;
    max-width: rem(1760px);
    margin: 0 auto;
    overflow: hidden;
    border-radius: rem(14px);
    will-change: transform;
    transform-origin: top;
    transition-duration: 0.1s;
    transform: perspective(rem(300px)) rotateX(-18deg);
    
    backdrop-filter: blur(rem(40px));
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 rem(2px) rem(6px) 0 rgba(19, 19, 22, 0.12);

    &__row {
        @include flex;
        justify-content: space-between;
    }

    &__col {
        padding-top: rem(5px);
        flex: 0 0 auto;
        width: 25%;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background-color: #F3F3F6;         
            transition: var(--transition);       
        }
        &:hover {
            background-color: #f9f9f9;
        }   
    }

    &__sub-menu {

        &--title {
            font-weight: 600;
            font-size: rem(14px);
            line-height: 1;
            margin-bottom: 0;
            padding-left: rem(20px);
            padding-bottom: rem(25px);
            text-align: start;
            text-transform: uppercase;
            color: var(--color-text2);
            border-bottom: 1px solid var(--color-border);

            @include media-query-min(767px) {
                padding-left: rem(40px);
            }              

        }

        &--list {
            @include list; 
            list-style: none;
            position: relative;
            height: 100%;
            padding-top: rem(18px);
            padding-bottom: rem(50px);
        }

        &--item { 
            padding: 0;    
            
            @include media-query-min(767px) {
                padding: 0 rem(20px); 
            }   
            
        }           

        &--link {
            width: 100%;
            font-weight: 600;
            font-size: rem(16px);
            line-height: var(--line-height);
            color: #636368;
            padding: rem(8px);
            border-radius: rem(8px);
            display: inline-block;
            letter-spacing: -0.01em;
            text-align: start;
            font-family: var(--font-inter);

            @include media-query-min(767px) {
                padding: rem(12px) rem(18px);
            }            

            .hit,
            .trand,
            .top,
            .new {
                color: #0db50e;
                background-color: rgba(13, 181, 14, 0.08);
                font-size: rem(10px);
                font-weight: 600;
                line-height: 1;
                text-transform: uppercase;
                padding: rem(2px) rem(6px);
                border-radius: rem(4px);
                margin-left: rem(8px);
                display: none;

                @include media-query-min(1472px) {
                    display: inline-block;
                }
            }

            .trand {
                color: #b64ade;
                background: rgba(182, 74, 222, 0.08);
            }

            .top {
                color: #FF535B;
                background-color: rgba(255, 83, 91, 0.08);
            }

            .new {
                color: #fff;
                background-color: #f70510;
            }

            &:hover {
                color: var(--color-accent);
            }
        }
    }
}

.menu-small {
    @include list;
    position: absolute;
    top: 100%;
    left: 0;
    width: rem(250px);
    z-index: 99;
    opacity: 0;
    padding: rem(12px) 0;
    transition: 0.5s;
    text-align: start;
    visibility: hidden;
    border-radius: rem(14px);
    transform-origin: 0 0;
    transform: scale(1, 0);
    backdrop-filter: blur(rem(40px));
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 rem(20px) rem(30px) rem(-8px) rgba(19, 19, 22, 0.1);
    transition: all 0.3s 0s ease-out;
    
    &__item {
        width: 100%;
        padding: 0 rem(12px);
        border-radius: rem(8px);
        margin: 0;
    }

    &__link {
        width: 100%;
        font-weight: 600;
        font-size: rem(16px);
        line-height: 1;
        color: #636368;
        padding: rem(12px) rem(10px);
        border-radius: rem(8px);
        display: inline-block;
        letter-spacing: -0.01em;
        text-align: start;
        font-family: var(--font-inter);

        .hit,
        .trand,
        .top,
        .new {
            color: #0db50e;
            background-color: rgba(13, 181, 14, 0.08);
            font-size: rem(10px);
            font-weight: 600;
            text-transform: uppercase;
            padding: rem(2px) rem(6px);
            border-radius: rem(4px);
            margin-left: rem(8px);
            display: none;


        }

        .trand {
            color: #b64ade;
            background: rgba(182, 74, 222, 0.08);
        }

        .top {
            color: #FF535B;
            background-color: rgba(255, 83, 91, 0.08);
        }

        .new {
            color: #fff;
            background-color: #f70510;
        }

        &:hover {
            color: var(--color-accent);
        }
    }    
}

.btn-minicart {
    position: relative;
    margin-right: rem(14px);
    width: rem(25px);
    height: rem(25px);
    
    .minicart-count {
        color: #ffffff;
        width: rem(22px);
        height: rem(22px);
        background: var(--color-accent);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        position: absolute;
        top: rem(-7px);
        right: rem(-12px);
    }

}

.btn-mobile-menu { 
    width: 56px;
    height: 56px;
    background: var(--color-accent);
    border: none;
    display: block;
    padding: 0;

    @include media-query-min(1348px) {
        display: none;
    }

    span{
        background: #fff;
        border-radius: 10px;
        height: 2px;
        width: 30px;
        margin: 5px auto 5px 17px;
        display: block;

        @include media-query-min(1348px) {
            margin: 5px auto 5px 24px;
        }        


        &:first-child{
            width: 22px;
        }

        &:nth-child(3){
            width: 16px;
        }
    }
    &:hover {

        span {
            animation: bar_anim 0.8s cubic-bezier(0.44, 1.1, 0.53, 0.99) 1 forwards;
            &:nth-child(2) {
            animation-delay: 0.1s;
            }
        }
    }    
}

@keyframes bar_anim {
	0%, 100% {
	  -webkit-clip-path: inset(-2px 0);
	  clip-path: inset(-2px 0);
	}
	42% {
	  -webkit-clip-path: inset(-2px 0 -2px 100%);
	  clip-path: inset(-2px 0 -2px 100%);
	}
	43% {
	  -webkit-clip-path: inset(-2px 100% -2px 0);
	  clip-path: inset(-2px 100% -2px 0);
	}
}