@use "mixins/media-query" as * ;
@use "mixins/rem" as * ;
@use "mixins/breakpoints" as * ;

.vi-preloader {
    transition: none !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white url(../img/preloader/noise.webp);
        z-index: -1;
        opacity: 0.1;
    }

    &__logo {
        display: none;

        color: var(--color-accent);
        margin-bottom: rem(20px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__slide {
        letter-spacing: 0px;
        display: none;

        font-size: rem(18px);
        color: var(--color-primary);
    }

    &__title {
        font-family: var(--font-general);
        font-size: 60px;
        color: var(--color-text);
    }

    &__progress {
        font-family: var(--font-general);
        position: absolute;
        right: rem(20px);
        bottom: rem(40px);
        font-size: 60px;
        color: var(--color-text-light);
    }

    &__bar {
        position: absolute;
        bottom: 0;
        background-color: var(--color-accent);
        height: 10px;
    }
}