@mixin flex-center-xy {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-x {
  display: flex;
  justify-content: center;
}

@mixin flex-center-y {
  display: flex;
  align-items: center;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin hide {
  opacity: 0;
  visibility: hidden;

}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin list {
  list-style: none;
  margin: 0;
  padding: 0; 
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}