<div class="vi-hero">

    <div class="vi-hero__image">
        <picture>
            <source 
                type="image/avif"
                srcset="
                ../assets/img/hero/hero-480.avif 480w,
                ../assets/img/hero/hero-768.avif 768w,
                ../assets/img/hero/hero-1024.avif 1024w,
                ../assets/img/hero/hero-1600.avif 1600w,
                ../assets/img/hero/hero-1920.avif 1920w
                "
                sizes="100vw"
            >
            <source 
                type="image/webp"
                srcset="
                ../assets/img/hero/hero-480.webp 480w,
                ../assets/img/hero/hero-768.webp 768w,
                ../assets/img/hero/hero-1024.webp 1024w,
                ../assets/img/hero/hero-1600.webp 1600w,
                ../assets/img/hero/hero-1920.webp 1920w
                "
                sizes="100vw"
            >
            <img 
                src="../assets/img/orig/hero-1920.jpg" 
                alt="Hero Image"
                loading="lazy"
                decoding="async"
                width="1920"
                height="1080"
            >
        </picture>
    </div>

    <!-- You can place hero text or content here -->
    <div class="vi-hero__content">
        <!-- content -->
    </div>

</div>
