
.btn {
    display: inline-block;
    font-family: var(--font-general);
    font-weight: 400;
    font-size: 16px;
    background: transparent;
    padding: 9px 26px;
    color: var(--tp-common-white);
    border: 1px solid var(--color-text);
    transition: var(--transition);

    &-small {
        font-size: 14px;
        padding: 4px 10px;
    }

    &:hover {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        color: #fff;
    }

    svg {
        width: 12px;
        margin-left: 2px;
    }
}