@font-face {
  font-family: 'Helvetica Neue Roman';
  src: url('../fonts/HelveticaNeueRoman.woff2') format('woff2'),
       url('../fonts/HelveticaNeueRoman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}