// Configuration
// @use "mixins/rem" as * ;

// Base
@use "base/variables";
@use "base/reboot";
@use "base/fonts";
@use "base/buttons";
@use "base/cursor";

// Components
@use "components/header";
@use "components/footer";
@use "components/header-mobile";
@use "components/slider-main";
@use "components/advantages";
@use "components/banners-categories";
@use "components/categories-tabs";


// Woocommercce
@use "woocommerce/content-product";